<!DOCTYPE html>

<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wooland</title>

    <!-- fonts files -->
    <link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700' rel='stylesheet' type='text/css'>

    <!-- Font awesome css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <!-- Revolution slider css -->
    <link href="/js/rs-plugin/css/settings.css" rel="stylesheet" />

    <!-- image zoom -->
    <link rel="stylesheet" href="/css/glasscase.css">

    <!-- Owl css -->
    <link rel="stylesheet" href="/css/owl.carousel.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" type="image/ico" href="/images/favicon.ico" />

    <!--Detail -->
    <link rel="stylesheet" href="/detail/css/bootstrap.min.css">
    <link rel="stylesheet" href="/detail/css/core.css">
    <link rel="stylesheet" href="/detail/css/shortcode/shortcodes.css">
    <link rel="stylesheet" href="/detail/style.css">
    <link rel="stylesheet" href="/detail/css/responsive.css">
    <link rel="stylesheet" href="/detail/css/custom.css">
    <link rel="stylesheet" href="/detail/css/color/skin-default.css">
    <script src="/detail/js/vendor/modernizr-3.11.2.min.js"></script>

</head>
<body>
   

    @await Component.InvokeAsync("Header")

    @RenderBody()



    <!-- Footer area BEGIN -->
    <footer class="entire_footer">
        <section class="footer_top_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="footer_top">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="footer_wid">
                                        <h3>ABOUT WOOLAND</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec
                                            tetur adipiscing elit. Ut semper
                                            lorem eget risus.
                                        </p>
                                        <div class="footer_social_icon">
                                            <ul id="foot_social_icon">
                                                <li><a class="fa fa-facebook" href=""></a></li>
                                                <li><a class="fa fa-twitter" href=""></a></li>
                                                <li><a class="fa fa-google-plus" href=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="footer_wid">
                                        <h3>USEFUL LINKS</h3>
                                        <div class="footer_wid_lists">
                                            <ul id="footer_wid_list">
                                                <li><a href="">Men & Women</a></li>
                                                <li><a href="">Privacy Policy</a></li>
                                                <li><a href="">Children</a></li>
                                                <li><a href="">Disclaimer</a></li>
                                                <li><a href="">My Account</a></li>
                                                <li><a href="">Terms of Use</a></li>
                                                <li><a href="">Top Seller</a></li>
                                                <li><a href="">Sitemap</a></li>
                                                <li><a href="">Latest Products</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="footer_wid">
                                        <h3>NEWSLETTER SIGNUP</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec
                                            tetur adipiscing elit. Ut semper
                                            lorem eget risus.
                                        </p>

                                        <div class="footer_email_input">
                                            <input type="text" placeholder="Email Address" />
                                            <input type="submit" value="Go" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="footer_wid">
                                        <h3>CONTACT INFORMATION</h3>
                                        <p>
                                            Lorem ipsum dolor sit amet, consec
                                            tetur adipiscing elit. Ut semper
                                            lorem eget risus.
                                        </p>
                                        <div class="footer_ph_contact">
                                            <p><span>Phone :</span><a href=""> +215 123 4567</a></p>
                                            <p><span>Email :</span><a href=""> info@wooland.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_bottom_text">
                            <p>All Rights Reserved by <a href="">Wooland Shoping.</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_logos">
                            <a href=""><img src="/images/footer_logo1.jpg" alt="footer logo1" /></a>
                            <a href=""><img src="/images/footer_logo2.jpg" alt="footer logo2" /></a>
                            <a href=""><img src="/images/footer_logo3.jpg" alt="footer logo3" /></a>
                            <a href=""><img src="/images/footer_logo4.jpg" alt="footer logo4" /></a>
                            <a href=""><img src="/images/footer_logo5.jpg" alt="footer logo5" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer  END -->
    <!-- Latest jQuery -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <!-- Bootsrap Select jQuery Plugin -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- Revolution slider jQuery Files -->
    <script src="/js/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
    <script src="/js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/js/rs-plugin/rs.home.js"></script>
    <!-- Bootsrap jQuery -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Custom jQuery-->
    <script src="/js/main.js"></script>

    <!--Detail-->

    <script src="/detail/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/detail/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="/detail/js/bootstrap.bundle.min.js"></script>
    <script src="/detail/js/slider/jquery.nivo.slider.pack.js"></script>
    <script src="/detail/js/slider/nivo-active.js"></script>
    <script src="/detail/js/jquery.countdown.min.js"></script>
    <script src="/detail/js/plugins.js"></script>
    <script src="/detail/js/main.js"></script>


</body>
</html>
